#projects{
  /* background-color: #eee; */
  background-color: #F6F6F2;
  color: #388087;
  padding: 2em 4em;
  font-size: 150%;
  position: relative;
}

.projects-section > div > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--transWhite-50);
    padding: var(--unit2);
    color: var(--transBlueC-75);
    border-radius: var(--unit1);
    box-shadow: 0 3px 6px var(--transBlueC-10);
    transform: scale(1);
  }
  
.project{
  background-color: #eee;
  color: #388087;
  /* background-color: #BADFE7; */
  margin: 1em .5em;
  height: 200px;
  /* width: 25vw; */
  border: #388087 solid 3px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* .projects-section > div > a:hover {
    transform: scale(1.01);
    background: white;
    color: var(--transBlueC-75);
    text-decoration: none;
  } */